@import url(https://fonts.googleapis.com/earlyaccess/notosanskr.css);

.App {
    overflow: hidden;
    position: relative;
    width: 1920px;
    height: 100%;
    @media screen and (max-width: 1920px) {
        width: 100%;
    }
    & > img {
        width: 164px;
        height: 34px;
        top: 64px;
        left: 100px;
        position: absolute;
    }

    & > div.main {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        & > div.left-el {
            display: flex;
            flex-direction: column;

            & > span:nth-child(1) {
                font-family: "Noto Sans Kr";
                font-size: 2rem;
                font-weight: 900;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #442d26;
            }

            & > span:nth-child(2) {
                font-family: "Noto Sans Kr";
                font-size: 1rem;
                font-weight: normal;
                font-style: normal;
                font-stretch: normal;
                line-height: normal;
                letter-spacing: normal;
                color: #202020;
                margin: 39px 0 51px 0;
            }

            & > div {
                display: flex;

                & > span {
                    display: flex;
                    width: 210px;
                    height: 62px;
                    border-radius: 8px;
                    border: solid 1px #442d26;
                    align-items: center;
                    justify-content: center;
                    margin-right: 20px;
                    cursor: pointer;

                    & > img {
                        margin-right: 10px;
                    }

                    & > span {
                        font-family: NotoSansCJKkr;
                        font-size: 0.7rem;
                        font-weight: 300;
                        font-style: normal;
                        font-stretch: normal;
                        line-height: normal;
                        letter-spacing: normal;
                        color: #202020;
                    }

                    @media screen and(max-width: 1024px) {
                        width: 150px;
                        height: 50px;
                    }
                }
            }
        }

        & > div.right-el {
            & > svg {
                width: 650px;
                @media screen and(max-width: 1920px) {
                    width: 590px;
                }
                @media screen and(max-width: 1690px) {
                }
                @media screen and(max-width: 1440px) {
                }
                @media screen and(max-width: 1380px) {
                }
                @media screen and(max-width: 1024px) {
                    width: 400px;
                }
                @media screen and(max-width: 980px) {
                    width: 300px;
                }
            }

            & > img {
                width: 1920px;
                height: 1080px;
            }
        }
    }

    .clipping {
        -webkit-clip-path: url(#svgPath);
        clip-path: url(#svgPath);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: translateX(100px) translateY(0);
        @media screen and(max-width: 1690px) {
            transform: translateX(-100px) translateY(-60px) scale(0.9);
        }
        @media screen and(max-width: 1440px) {
            transform: translateX(-100px) translateY(-80px) scale(0.8);
        }
        @media screen and(max-width: 1380px) {
            transform: translateX(-200px) translateY(-100px) scale(0.7);
        }
        @media screen and(max-width: 1200px) {
            transform: translateX(-300px) translateY(-120px) scale(0.65);
        }
        @media screen and(max-width: 1024px) {
            transform: translateX(-350px) translateY(-140px) scale(0.6);
        }
        @media screen and(max-width: 980px) {
            transform: translateX(-400px) translateY(-160px) scale(0.5);
        }
    }
}

.Mobile {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-image: url(./assets/main.png);
    background-size: cover;
    background-position-x: -350px;

    @media screen and(min-width: 320px) {
        background-position-x: -400px;
    }

    @media screen and(min-width: 768px) {
        background-position-x: -150px;
    }
}
div.mask {
    width: 100%;
    height: 100%;
    background-color: #442d26aa;
    position: relative;

    & > img {
        width: 20%;
        margin-left: 40px;
        margin-top: 30px;
    }

    & > div.contents {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        bottom: 0px;
        width: 100%;
        height: 100%;

        & > * {
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
            text-align: center;
            width: 100%;
        }

        & > span:nth-child(1) {
            font-size: 2rem;
            font-family: "Noto Sans Kr";
            font-weight: 900;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin-bottom: 3%;
        }
        & > span:nth-child(2) {
            font-size: 1rem;
            font-family: "Noto Sans Kr";
            font-weight: normal;
            font-style: normal;
            font-stretch: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: center;
            margin-bottom: 13%;
        }
        & > div {
            height: 7%;
            font-size: 1rem;
            font-family: "Noto Sans Kr";
            background-color: #442d26;
        }
    }
}
